.add-panel{
    background-color: #444;
    overflow: auto; /*scrollable if needed*/
    width: 100%;
    height: 100%;
}

.tutorial-highlight{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 5px ridge greenyellow;
}
.tutorial-highlight-element{
    border: 5px ridge deepskyblue !important;
}


/*.add-panel a{*/
/*    color: #c2c2c2;*/
/*    height: 22px;*/
/*    text-align: left;*/
/*    vertical-align: middle;*/
/*    padding: 5px 16px;*/
/*    text-decoration: none;*/
/*    cursor: default !important; !*Cursor doesn't change*!*/
/*    -webkit-user-select: none;  !*no text select*!*/
/*    -moz-user-select: none;     !*no text select*!*/
/*    -ms-user-select: none;      !*no text select*!*/
/*    user-select: none;          !*no text select*!*/
/*}*/

.add-panel-category{
    /*flex:1;*/
    float:top;
    /*border-bottom: 1px solid #b7b7b7;*/
    display: flex;
    flex-direction: column;
}
.add-panel-category-headline{
    flex:1;
    font-weight: bold;
    /*border-bottom: 1px solid #b7b7b7;*/
}

.add-panel-add-button{
    align-self: center;
    justify-self:stretch;
    text-align: center !important;

}

.add-panel-combined-element-tab{
    align-self: center;
    justify-self:stretch;
}
.add-panel-combined-element{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 10px;
}

.add-panel button:hover { /*define change if hovered*/
    background-color: #ddd;
    color: black;
}
.add-panel button:hover img { /*change navigation icon to darker color*/
    filter: invert(1);
}

.add-panel button {
    /* default for <button>, but useful for <a> */
    display: inline-block;
    text-align: left;
    text-decoration: none;

    font-size: 14px;


    color: #c2c2c2;
    background-color: #444;
    cursor: pointer;

    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 0;

    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    border-radius: 4px;
}

.add-panel-hidden{
    display: none;
}
.add-panel-shown{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: #4d4d4d;
}
.add-panel-text-panel{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 5px;
}
.add-panel-text-panel-element{
    padding: 2px 5px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    justify-items: center;
    color: #c2c2c2;
    text-decoration: none;
    cursor: default !important; /*Cursor doesn't change*/
    -webkit-user-select: none;  /*no text select*/
    -moz-user-select: none;     /*no text select*/
    -ms-user-select: none;      /*no text select*/
    user-select: none;          /*no text select*/
}

.add-panel-text-panel-element input{
    color: #333;
    background-color: #b1b1b1;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #333;
    box-sizing: border-box;
}

.add-panel-text-panel-element textarea{
    color: #333;
    background-color: #b1b1b1;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #333;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
}

.add-panel-text-panel-element-left{
    grid-column: 1;
    align-self: center;
    justify-self:stretch;
}
.add-panel-text-panel-element-right{
    grid-column: 2;
}
.add-panel-text-panel-element-both{
    grid-column: 1 / 3;
}
.add-panel-text-panel-element button{
    padding: 5px 10px;
    box-sizing: border-box;
    color: #333;
    background-color: #b1b1b1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border: 1px solid #333;
    box-shadow: 0 3px #727272;
}

.add-panel-text-panel-element button:hover{
    /*color: #b1b1b1;*/
    background-color: #8e8e8e;
}

.dropdown-invisible{
    visibility: hidden;
}