.dialog-Panel {
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #c2c2c2;
}

.dialog-Panel span {
    text-decoration: none;
    cursor: default !important; /*Cursor doesn't change*/
    -webkit-user-select: none;  /*no text select*/
    -moz-user-select: none;     /*no text select*/
    -ms-user-select: none;      /*no text select*/
    user-select: none;          /*no text select*/
}

.dialog-Panel  input{
    color: #333;
    background-color: #b1b1b1;
    border-radius: 5px;
    text-align: center;
    grid-column: 2;
    width: 100%;
}

.dialog-Panel select{
    color: #333;
    background-color: #b1b1b1;
    border-radius: 5px;
    text-align: center;
    grid-column: 2;
    width: 100%;
}

.dialog-Panel button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.dialog-Panel button:hover { /*define change if hovered*/
    background-color: #ddd;
    color: black;
}

.dialog-Panel button {
    /* default for <button>, but useful for <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;

    color: #c2c2c2;
    background-color: #333;

    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 2px;
    width: 100%;
    /* invisible border (will be colored on hover/focus) */
    border: solid 1px #333;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    /* size comes from text & padding (no width/height) */
    /*padding: 0.5em 1em;*/
}

.dialog-list-selector-combined-highlight{
    display: flex;
    flex-direction: column;

}

.dialog-Panel .dialog-highlight {
    background-color: #8e8e8e;
    color: black ;
    justify-items: center;
    align-items: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 2px 2px 0px 2px;
}
.dialog-highlight-button-extension{
    background-color: #757575;
    color: black ;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: solid 1px #333;
    border-top: none;
    display: grid;
    grid-template-columns: 1fr;
    white-space: normal;
    overflow: auto;
    width: 100%;
    margin: 0px 2px 2px;

}
.dialog-highlight-button-extension span{
    padding: 10px;
}

.dialog-Panel  textarea{
    color: #333;
    background-color: #b1b1b1;
    border-radius: 5px;
    text-align: left;
    grid-column: 2;
    width: 100%;
}

.dialog-hidden{
    display: none;
}
.dialog-Panel form{
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: auto;
}
.dialog-Panel-Buttons{
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.dialog-Panel-Headline{

}
.dialog-Panel-Description{
    padding-bottom: 10px;
}
.dialog-Panel-Content{
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 4px;
    /*background: #525252;*/
    background-color: #444;
}
.dialog-panel-content-input-element{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding: 5px;
}

.dialog-panel-content-input-description{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 5px;
}

.dialog-panel-content-input-element-double{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.dialog-panel-content-input-group{
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 4px;
    background: #505050;
}
.dialog-panel-activity-list{
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 4px;
    background: #888;
    color: #333333;
}

.dialog-panel-activity-list-entry{
    display: grid;

    grid-gap: 5px;
    grid-template-columns: 5fr 1fr 1fr;
    border-bottom: 1px solid #333;
}
.dialog-panel-activity-list-entry span {
    align-self: center;
    justify-self:stretch;
}

.dialog-panel-walkthrough-list-entry{
    display: grid;

    grid-gap: 5px;
    grid-template-columns: 5fr 2fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #333;
}
.dialog-panel-walkthrough-list-entry-double{
    display: grid;

    grid-gap: 5px;
    grid-template-columns: 5fr 4fr;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #333;
    padding: 5px;
}

.dialog-panel-content-file-preview{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
}
.dialog-panel-error{
    padding: 5px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 4fr;
    background-color: #cc0000;
    color: black;
}

.dialog-panel-warning{
    padding: 5px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 4fr;
    background-color: #ffcc00;
    color: black;
}


.dialog-invisible-button{
    visibility: hidden;
}

.dialog-Modal{
    border: 1px solid #333;
    border-radius: 4px;
    background: #333;
    font: 15px Helvetica,Arial,sans-serif;
    /*color: #333333;*/
    overflow: auto;
    outline: none;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    max-height: 90%;
}

.dialog-Modal-tutorial{
    border: 1px solid #333;
    border-radius: 4px;
    background: #444;
    font: 15px Helvetica,Arial,sans-serif;
    color: #333333;
    overflow: auto;
    outline: none;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    height: 90%;
    width: 90%;
}

.dialog-Overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(242, 242, 242, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    height: 100%;
}