.editor{
    font: 15px Helvetica,Arial,sans-serif;
    height: 100%; /* This is needed for height 100% in the containing elements */
}
.header{
    background-color: gray;
    height: 28px; /*set high of the header*/
    width: 100%; /*fill the whole page*/
}
.main {
    top: 28px; /* position below the statusbar*/
    height: calc(100% - 26px); /*100% minus the statusbar*/
    width: 100%; /*fill the whole page*/
}
.left-panel{
    background-color: #444;
    border-right: 1px solid #333;
    width: calc(20% - 1px);
    float: left; /*align left*/
    height: 100%; /*fill whole page*/
}
.middle-panel{
    background-color: green;
    width: 60%;
    height: 100%; /*fill whole page*/
    float: left; /*align left*/
}
.right-panel{
    height: 100%; /*fill whole page*/
    width: calc(20% - 1px);
    float: right; /*align right*/
    border-left: 1px solid #333;
}
