body{
    margin: 0px;
    overflow: hidden; /*Screen isn't scrollable*/
    height: 100%; /* This is needed for height 100% in the containing elements */
}
html{
    height: 100%; /* This is needed for height 100% in the containing elements */
}
#root{ /* This is needed for height 100% in the containing elements */
    height: 100%;
}









