

.interaction-panel{
    height: 40%;
    overflow: auto; /*scrollable if needed*/
    background-color: #444;
    border-top: 1px solid #333;
}

.interaction-panel-tutorial-highlight{
    width: calc(100% - 10px);
    height: calc(40% - 10px);
    border: 5px ridge greenyellow;
}
.interaction-panel-tutorial-highlight-element{
    border: 5px ridge deepskyblue !important;
}

.interaction-panel-element{
    color: #c2c2c2;
    text-align: left;
    padding: 5px 8px;
    text-decoration: none;
    cursor: default !important; /*Cursor doesn't change*/
    -webkit-user-select: none;  /*no text select*/
    -moz-user-select: none;     /*no text select*/
    -ms-user-select: none;      /*no text select*/
    user-select: none;          /*no text select*/
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    /*border-bottom: 1px solid #b7b7b7;*/
}

.interaction-panel-effect-element{
    color: #c2c2c2;
    text-align: left;
    padding: 2px 8px;
    text-decoration: none;
    cursor: default !important; /*Cursor doesn't change*/
    -webkit-user-select: none;  /*no text select*/
    -moz-user-select: none;     /*no text select*/
    -ms-user-select: none;      /*no text select*/
    user-select: none;          /*no text select*/
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    /*border-bottom: 1px solid #b7b7b7;*/
}

.interaction-panel-headline{
    font-weight: bold;
    color: #c2c2c2;
    text-align: left;
    padding: 8px 8px ;
    text-decoration: none;
    cursor: default !important; /*Cursor doesn't change*/
    -webkit-user-select: none;  /*no text select*/
    -moz-user-select: none;     /*no text select*/
    -ms-user-select: none;      /*no text select*/
    user-select: none;          /*no text select*/
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 5px;
    border-bottom: 1px solid #333;
}

.interaction-panel-effect{

}

.interaction-panel-element-headline {
    font-weight: bold;
}


.interaction-panel-no-selection{
    color: #c2c2c2;
    text-align: center;
    padding: 2px 8px;
    text-decoration: none;
    cursor: default !important; /*Cursor doesn't change*/
    -webkit-user-select: none;  /*no text select*/
    -moz-user-select: none;     /*no text select*/
    -ms-user-select: none;      /*no text select*/
    user-select: none;          /*no text select*/
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.interaction-panel input{
    color: #333;
    background-color: #b1b1b1;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    padding: 4px 10px;
    display: inline-block;
    border: 1px solid #333;
    box-sizing: border-box;
}

.interaction-panel select{
    color: #333;
    background-color: #b1b1b1;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    padding: 4px 10px;
    display: inline-block;
    border: 1px solid #333;
    box-sizing: border-box;
}

.interaction-panel-button{
    padding: 4px 8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    align-items: center;
    justify-items: center;
}

.interaction-panel button {
    padding: 2px 5px;
    box-sizing: border-box;
    color: #333;
    background-color: #b1b1b1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border: 1px solid #333;
    box-shadow: 0 3px #727272;

}

.interaction-panel-button button{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2px;
    align-items: center;
    justify-items: center;
}

.interaction-panel button:hover{
    /*color: #b1b1b1;*/
    background-color: #8e8e8e;
}

.interaction-panel-divider{
    background: #4d4d4d;
}

